@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Barra de navegación*/
.header-navbar{
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
}

.header-navbar--left{
    margin-right: 150px;
    margin-left: 100px;
    padding-bottom: 5px;
    justify-content: space-around; /* Espaciado entre elementos */
    align-items: center;
    text-align: center;
}
  .header-navbar--left---menu{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--left---menu:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--left---rewards{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--left---rewards:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--right{
    margin-right: 130px;
    margin-left: 450px;
    padding-top: 10px;
    justify-content: space-around; /* Espaciado entre elementos */
    align-items: center;
}
.header-navbar--right---shop{
    background-color: white; /* Color inicial del botón */
    color: black;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--right---shop:hover{
    color: grey; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--right---login{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: black;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--right---login:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--right---join{
    background-color: black; /* Color inicial del botón */
    color: white;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--right---join:hover{
    background-color: rgb(53, 53, 53); /* Color del botón cuando el ratón pasa por encima */
  }
/*Body de home page*/
body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: white;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
}
h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
/*Section 1*/
.section1{
    display: flex;
    flex-direction: row;
    background:  #1e3932 ;
   
}
.section1-img{
    margin-right: 150px;
}
.section1-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}
/*Section 2*/
.section2{
    display: flex;
    flex-direction: row;
    background: #0044b4;

}
.section2-img{
    margin-left: 150px;
}
.section2-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}
/*Section 3*/
.section3{
    display: flex;
    flex-direction: row;
    background: #d50032;

}
.section3-img{
    margin-right: 150px;
}
.section3-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}
/*Section 4*/
.section4{
    display: flex;
    flex-direction: row;
    background: #1e3932 ;

}
.section4-img{
    margin-left: 150px;
}
.section4-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}
/*Section 5*/
.section5{
    display: flex;
    flex-direction: row;
    background: #d50032;

}
.section5-img{
    margin-right: 150px;
}
.section5-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    line-height: 2;
    color: white;
}
.section5-container--b1{
    background-color: #d50032; /* Color inicial del botón */
    color: white;
    padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: white;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.section5-container--b1:hover{
    background-color: #e02652; /* Color del botón cuando el ratón pasa por encima */
  }
/*Section 6*/
.section6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.section6-block1{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    background: rgb(252, 193, 220);
    align-items: center;
    text-align: center;
    line-height: 3;
    color: #d50032;
    font-weight: 700;
    font-size: 16px;
}
.section6-block1 img{
    width: 45vw;
}
.section6-block1--b1{
    background-color: rgb(252, 193, 220); /* Color inicial del botón */
    color: rgb(240, 8, 35);
    padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: rgb(240, 8, 35);
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.section6-block1--b1:hover{
    color: rgb(240, 8, 35); /* Color del botón cuando el ratón pasa por encima */
  }
.section6-block2{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    background: rgba(143, 213, 227, 0.971);
    align-items: center;
    text-align: center;
    color: rgba(21, 32, 101, 0.818);
    font-weight: 700;
    font-size: 16px;
}
.section6-block2 img{
    width: 45vw;
}
.section6-block2--b1{
    background-color: rgba(143, 213, 227, 0.971); /* Color inicial del botón */
    color: rgba(21, 32, 101, 0.818);
    padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: rgba(21, 32, 101, 0.818);
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.section6-block2--b1:hover{
    color: rgba(21, 32, 101, 0.818); /* Color del botón cuando el ratón pasa por encima */
  }

/*Estilo del pie de página*/

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
    margin-bottom: 15px;
    justify-items: center;
    background: white;
    color: grey;
    font-family: "Open Sans", sans-serif;
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 11pt;
}
.footer-info--c1{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-left: 100px;
    margin-right: 15px;
}
.footer-info--c2{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-left: 20px;
}

#about{
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14pt;
}
#Atencion{
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14pt;
}
a{
    line-height: 3;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
a:hover{
    color: black;
}
.footer-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 550px;
    margin-left: 550px;
}
.footer-redes img{
    width: 35px;
    background-image: white;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    display: block;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra inicial suave */
    cursor: pointer;
}
.footer-redes:hover img{
    transform: translateY(-5px); /* Levanta la imagen */
    filter: grayscale(100%); /* Escala de grises */
}

.footer-derechos{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}
.footer-derechos--permisos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
ul{
  list-style: none;
  text-decoration: none;
  font-size: 11pt;
}
#codigo{
    font-size: 8pt;
}
