
.navbar{
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
}
.navbar-left{
    margin-right: 150px;
    margin-left: 120px;
    padding-bottom: 5px;
    justify-content: space-around; /* Espaciado entre elementos */
    align-items: center;
    text-align: center;
}
  .navbar-left--menu{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.navbar-left--menu:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.navbar-left--rewards{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.navbar-left--rewards:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.navbar-right{
    margin-right: 130px;
    margin-left: 450px;
    padding-top: 10px;
    justify-content: space-around; /* Espaciado entre elementos */
    align-items: center;
}
.navbar-right--shop{
    background-color: white; /* Color inicial del botón */
    color: black;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.navbar-right--shop:hover{
    color: grey; /* Color del botón cuando el ratón pasa por encima */
  }

.navbar-right--login{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: black;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.navbar-right--login:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.navbar-right--join{
    background-color: black; /* Color inicial del botón */
    color: white;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.navbar-right--join:hover{
    background-color: rgb(53, 53, 53); /* Color del botón cuando el ratón pasa por encima */
  }

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: white;
}
h2{
    font-family: Arial, sans-serif;
    font-weight: 800;
}
p{
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.section1{
    display: flex;
    flex-direction: row;
    background: rgb(1, 56, 1);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
}
.section1-img{
    margin-right: 150px;
}
.section1-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}

.section2{
    display: flex;
    flex-direction: row;
    background: rgb(4, 11, 228);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
}
.section2-img{
    margin-left: 150px;
}
.section2-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}

.section3{
    display: flex;
    flex-direction: row;
    background: rgb(233, 2, 2);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
}
.section3-img{
    margin-right: 150px;
}
.section3-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}
.section4{
    display: flex;
    flex-direction: row;
    background: rgb(1, 56, 1);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
}
.section4-img{
    margin-left: 150px;
}
.section4-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}
.section5{
    display: flex;
    flex-direction: row;
    background: rgb(233, 2, 2);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
}
.section5-img{
    margin-right: 150px;
}
.section5-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}