/*Diseño del rewards*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Barra de navegación*/
.header-navbar{
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
}

.header-navbar--left{
    margin-right: 150px;
    margin-left: 100px;
    padding-bottom: 5px;
    justify-content: space-around; /* Espaciado entre elementos */
    align-items: center;
    text-align: center;
}
  .header-navbar--left---menu{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--left---menu:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--left---rewards{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--left---rewards:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--right{
    margin-right: 130px;
    margin-left: 450px;
    padding-top: 10px;
    justify-content: space-around; /* Espaciado entre elementos */
    align-items: center;
}
.header-navbar--right---shop{
    background-color: white; /* Color inicial del botón */
    color: black;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--right---shop:hover{
    color: grey; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--right---login{
    background-color: white; /* Color inicial del botón */
    color: black;
    padding: 5px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: black;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--right---login:hover{
    color: green; /* Color del botón cuando el ratón pasa por encima */
  }

.header-navbar--right---join{
    background-color: black; /* Color inicial del botón */
    color: white;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}
.header-navbar--right---join:hover{
    background-color: rgb(53, 53, 53); /* Color del botón cuando el ratón pasa por encima */
  }
/*Cuerpo del rewards*/
.rewards-body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: white;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: calc(100vh-20px);
    text-align: center;
    background-color: white;
    font-family: "Open Sans", sans-serif;
}
.container-fijo{
    position: fixed;
    top: 1;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    color: white;
    padding: 50px;
    margin: 0;
    width: 35vw;
    height: 100vh;
    overflow: hidden; /*Es una propiedad para fijar el contenido con respecto al contenedor*/
}

.container-regalos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 50vw;
    margin-left: 45vw;
}

.imagenes-unete{
    display: flex;
    flex-direction: row;
    margin: 45px;
}
.imagenes-unete figure{
    margin: 0;
    justify-items: center;
}
.imagenes-unete img{
    width: 10vw;
}
.beneficios-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* 2 filas, cada una con altura automática */
    gap: 10px; /* Espacio entre los elementos */
    text-align: center;
    margin: 45px;
}

.beneficios-container figure{
    margin: 0;
    justify-items: center;
}
.beneficios-container img{
    width: 8vw;
}

#stars-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(241, 240, 235);
    width: 100%;
    padding: 10px 20px;
}
#stars-container figure{
    margin: 0;
    justify-items: center;
}
#stars-container img{
    width: 30vw;
}
.delivery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order-container{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(241, 240, 235);
    text-align: left;
}
.order-container--form{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* 2 filas, cada una con altura automática */
    gap: 1px; /* Espacio entre los elementos */
   
}

.order-container--form img{
    width: 5vw;
    align-items: flex-end;
}
.card-container{
    display: flex;
    flex-direction: row;
}
.card-container img{
    width: 20vw;
}

.app-container{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(241, 240, 235);
}

/*Estilo del pie de página*/

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
    margin-bottom: 15px;
    justify-items: center;
    background: white;
    color: grey;
    font-family: "Open Sans", sans-serif;
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 11pt;
}
.footer-info--c1{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-left: 100px;
    margin-right: 15px;
}
.footer-info--c2{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-left: 20px;
}

#about{
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14pt;
}
#Atencion{
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14pt;
}
a{
    line-height: 3;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
a:hover{
    color: black;
}
.footer-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 550px;
    margin-left: 550px;
}
.footer-redes img{
    width: 35px;
    background-image: white;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    display: block;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra inicial suave */
    cursor: pointer;
}
.footer-redes:hover img{
    transform: translateY(-5px); /* Levanta la imagen */
    filter: grayscale(100%); /* Escala de grises */
}

.footer-derechos{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}
.footer-derechos--permisos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
ul{
  list-style: none;
  text-decoration: none;
  font-size: 11pt;
}
#codigo{
    font-size: 8pt;
}